@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    height: 100vh;
    place-content: center;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    margin: 0 auto;
}
main.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'result-area summary-area';
    box-shadow: 0 0 10px #000;
    padding: 2rem;
    border-radius: 1.5rem;
}
result-area{
    display: grid;
    justify-items: center;
    grid-area: result-area;
    background-image: linear-gradient (hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
summary-area{
    grid-area: summary-area;
}